<html>
<head>
    <title></title>
   
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
    <!-- Angular -->
    <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.1/angularfire.min.js"></script>
    <!-- Firebase -->

    <script src="js/tictactoe.js"></script>
    <!-- Board logic -->

   
</head>



<body ng-app="TicTacApp" ng-model="gameContainer" ng-controller="TicTacCtrl">

<div id="buttons">
    <button id="btn_style" ng-click="gameStart()">Start Game</button>
    <button id="btn_style" ng-click="gameRestart()">Reset board</button>
    <button id="btn_style" ng-click="clearData()">Clear data</button>
</div>

<div id="title">
<h1>Welcome to Rick Tac Toe!</h1>
</div>


<div id="container">

    
<div id="mainBox1" >
    <div ng-show="play1st != 'W'" ng-class="{red: hover, box:true, xSelected:eachCell.status=='W', oSelected: eachCell.status =='B'}"
     ng-mouseenter="hover = true"
     ng-mouseleave="hover = false" ng-repeat="eachCell in gameContainer.boardArray"
    ng-click="playerPicks(eachCell)"
    ng-bind="box == '' ? '&nbsp;' : box">
    </div>
</div>



 <div id="left_div">
        <span id="spyname" ng-click="currentPlayer('left')">Player 1</span>
        <p>Player 1 Win Counter: {{gameContainer.leftWinC}}</p>
        <div>{{showLeft}}</div>
</div>

<div id="right_div">
        <span id="spyname" ng-click="currentPlayer('right')">Player 2</span>
        <p>Player 2 Win Counter: {{gameContainer.rightWinC}}</p>
        <div>{{showRight}}</div>
</div>


</div>








</body>
</html>